<div class="cards">
  <% @featured_restaurants.each do |resto| %>
  <div class="card">
    <img src="https://source.unsplash.com/400x300/?restaurant,<%= resto.name %>" class="card-img-top" alt="<%= resto.name %>">
    <div class="card-body">
      <h5 class="card-title"><%= resto.name %></h5>
      <p class="card-text">Chef: <%= resto.chef_name %></p>
      <%= link_to 'View', resto, class: "btn btn-primary" %>
      <%= link_to 'Delete', restaurant_path(resto), method: :delete, class: "btn btn-warning" %>
    </div>
  </div>
  <% end %>
</div>